@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
  background-color: #EBEBEB;
}
.container{
  width: 1200px;
  margin: 0 auto;
}
/* NavBar starts */
nav{
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}
.logo{
  cursor: pointer;
}
ul li{
  list-style: none;
  display: inline-block;
}
ul li a{
  color: #000;
  text-decoration: none;
}
.menu{
  display: flex;
  justify-content: space-between;
  width: 700px;
}
.menu-items{
  display: flex;
  align-self: center;
  justify-content: space-between;
  width: 500px;
}
.menu-icons{
  display: flex;
  justify-content: space-between;
  width: 100px;
  align-self: center;
}
.menu-icons img{
  height: 20px;
  width: 20px;
  cursor: pointer;
}
.menu-items li a{
  text-transform: uppercase;
}
/* NavBar ends */
/* Hero Section starts */
.hero-container{
  display: flex;
}
.hero-image{
  margin-top: 150px;
  flex: 1;
}
.hero-text{
  margin-left: 25px;
  margin-top: 180px;
}
.hero-text hr{
  width: 170px;
  height: 3px;
  background-color: #000;
}
.hero-text p{
  margin-top: 25px;
  font-size: 18px;
  width: 500px;
  line-height: 25px;
}
.btn-shop{
  margin-top: 25px;
  padding: 10px;
  font-size: 18px;
  font-weight: 700;
  background-color: transparent;
  border: 2px solid #000;
  width: 150px;
  cursor: pointer;
}
/* Hero Section ends */
/* Bottom images section starts */
.images-container{
  display: flex;
  margin-top: 25px;
  width: 640px;
  justify-content: space-between;
}
.images-container img{
  cursor: pointer;
}
/* Bottom images section ends */

/* Elements under images section starts */
.slider-elements{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 640px;
}
.arrows img{
  cursor: pointer;
}
.slide-number{
  display: flex;
  align-items: center;
  gap: 10px;
}
.slide-number hr{
  width: 170px;
  height: 2px;
  background-color: #000;
}
.slide-number p{
  font-size: 12px;
  font-weight: 700;
}


/* Elements under images section ends */
